.Footer {
    grid-area: f;
    text-align: center;
    background-color: #00B49B;
    margin-bottom: 96px;
    display: grid;
    grid-template-areas: "t t t t t t t" "im im im im im im im";
    grid-template-columns: 10fr 1fr 1fr 1fr 1fr 1fr 10fr;
    grid-template-rows: 40px 50px;
}

.text {
    margin-top: 5px;
    grid-area: t;
    color: #FFFFFF;
    font-size: 16px;
}

.item img {
    grid-area: im;
    height: 25px;
}