@import '../../../styles';

.projectCard {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 1fr;
  @extend %div_small_body_white_with_shadow;
  margin-left: 3em;
  align-items: center;
  img {
    border-radius: 28em;
    margin-left: 1em;
  }
}

.description {
  padding: 20px;
  text-align: justify;
}

@media (max-width: 1920px) {
  .projectCard {
    img {
      width: 9em;
      border: 0.5em solid #ECECE9;
    }
  }
}

@media (max-width: 1680px) {
  .projectCard {
    img {
      width: 6em;
      border: 0.3em solid #ECECE9;
    }
  }
}

@media (max-width: 1024px) {
  .projectCard {
    img {
      width: 5em;
      border: 0.1em solid #ECECE9;
    }
  }
}

@media (max-width: 768px) {
  .projectCard {
    margin-left: 0.5em;
  }
}