@import '../../../styles';

.Header {
  grid-area: h;
  background-color: $color_turquoise;
  display: grid;
  grid-template-areas: "im u au sp c";
  align-items: center;
  grid-template-rows: 1fr;
  img {
    grid-area: im;
  }
  button {
    margin-left: 1em;
    background-color: rgba(0, 0, 0, 0);
    color: $color_white;
    outline: none;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  button:hover {
    background: $color_shadow;
  }

  button:active {
    background: $color_dark;
  }
}

.item {
  color: $color_white;
  text-decoration: none;
  .about_us {
    grid-area: au;
  }
  .services_price {
    grid-area: sp;
  }
  .contacts {
    grid-area: c;
  }
  .user {
    grid-area: u;
  }
}

@media (max-width: 1920px) {
  .Header {
    grid-template-columns: 4vw 1fr 8vw 18vw 8vw;
    img {
      width: 50px;
    }
  }
  .item {
    font-size: 16px;
  }
}

@media (max-width: 1680px) {
  .Header {
    grid-template-columns: 5vw 1fr 10vw 20vw 10vw;
    img {
      width: 50px;
    }
  }
  .item {
    font-size: 16px;
  }
}

@media (max-width: 1440px) {
  .Header {
    grid-template-columns: 5vw 1fr 10vw 21vw 16vw;
    img {
      width: 50px;
    }
  }
  .item {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  .Header {
    grid-template-columns: 8vw 1fr 16vw 30vw 24vw;
    img {
      width: 50px;
    }
  }
  .item {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .Header {
    grid-template-columns: 9vw 1fr 18vw 40vw 22vw;
    img {
      width: 50px;
    }
  }
  .item {
    font-size: 14px;
  }
}
