.AboutUs {
  grid-area: i;
  grid-row: 2/4;
  display: grid;
  grid-template-areas: 'cn' 'desc' 'lpr' 'tm';
  grid-template-columns: 1fr;
}

@media (max-width: 1920px) {
  .AboutUs {
    grid-template-rows: 28em minmax(30em,auto) 65em 47.5em 11.5em;
  }
}

@media (max-width: 1680px) {
  .AboutUs {
    grid-template-rows: 26em minmax(30em,auto) 56em 39em 11em;
  }
}

@media (max-width: 1440px) {
  .AboutUs {
    grid-template-rows: 22.5em minmax(22.5em,auto) 48em 32.5em 11em;
  }
}

@media (max-width: 1024px) {
  .AboutUs {
    grid-template-rows: 9em minmax(17.5em,auto) 24em 27em 8em;
  }
}
