.Header {
    grid-area: h;
    background-color: #00B49B;
    display: grid;
    grid-template-areas: "im it";
    grid-template-columns: 1fr 13vh 15vh 26vh 15vh 10vh;
    grid-template-rows: 1fr;
    align-items: center;
}

.item a {
    grid-area: it;
    color: #FFFFFF;
    font-size: 16px;
    text-decoration: none;

}

.item img {
    grid-area: im;
    width: 50px;
}

