@import '../../../styles';

.Project {
  text-decoration: none;
  > img {
    border: 0.75rem solid $color_white;
  }
}

@media (max-width: 1920px) {
  .Project {
    img {
      border-radius: 225px;
      width: 345px;
    }
  }
}

@media (max-width: 1680px) {
  .Project {
    img {
      border-radius: 225px;
      width: 300px;
    }
  }
}

@media (max-width: 1440px) {
  .Project {
    img {
      border-radius: 225px;
      width: 255px;
    }
  }
}

@media (max-width: 1024px) {
  .Project {
    img {
      border-radius: 225px;
      width: 132px;
    }
  }
}


