@import '../../../styles';

.Project {
  text-decoration: none;
  > img {
    border: 0.75rem solid $color_white;
    border-radius: 14em;
  }
}

@media (max-width: 1920px) {
  .Project {
    img {
      width: 21.5em;
    }
  }
}

@media (max-width: 1680px) {
  .Project {
    img {
      width: 19em;
    }
  }
}

@media (max-width: 1440px) {
  .Project {
    img {
      width: 16em;
    }
  }
}

@media (max-width: 1024px) {
  .Project {
    img {
      width: 9.5em;
    }
  }
}


