@import "../../../style.scss";

.CompanyName {
  display: grid;
  grid-area: cn;
  z-index: 3;
  @extend %div_body_gray_with_shadow;
  @extend %title_icon;
  grid-template-areas: 'cn cn';
  grid-template-columns: 35vw auto;
  grid-template-rows: 1fr;
}
