.AboutUs {
    grid-area: i;
    grid-row: 2/4;
    display: grid;
    grid-template-areas: 'cn' 'desc' 'lpr' 'tm';
    grid-template-columns: 1fr;
    grid-template-rows: 480px 480px 1020px 760px 200px;
}