@import "../../../styles.scss";

.KillerFeature {
  display: grid;
  grid-template-areas: 't t' 'desc img' 'oc oc';
  grid-template-rows: 150px 450px 150px;
  grid-template-columns: 3fr 1fr;
  @extend %main_text;
  img {
    grid-area: img;
    width: 500px;
    max-height: 350px;
    padding-right: 210px;
  }
}

.Title {
  grid-area: t;
}

.OrangeCrap {
  grid-area: oc;
  background: $color_orange;
  margin-bottom: 50px;
}

.Description {
  grid-area: desc;
  padding-left: 192px;
  padding-right: 30px;
}