@import "../../../styles.scss";

.KillerFeature {
  display: grid;
  grid-template-areas: 't t' 'desc img' 'oc oc';
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 150px 450px 150px;
  @extend %main_text;
  img {
    grid-area: img;
    width: 27vw;
    max-height: 40vh;
    padding-right: 11vw;
  }
}

.Title {
  grid-area: t;
}

.OrangeCrap {
  grid-area: oc;
  background: $color_orange;
  margin-bottom: 3em;
}

.Description {
  grid-area: desc;
  padding-left: 10vw;
  padding-right: 2em;
}