.app-wrapper {
    display: grid;
    background-color: #ECECE9;
    grid-template-areas: "h" "i" "f";
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto 186px;
}

.app-wrapper-content{

}

