$color_dark: #000000;
$color_grey: #ECECE9;
$color_white: #FFFFFF;
$color_turquoise: #00B49B;
$color_orange: #FAA61A;
$color_success: #37B34A;
$color_shadow: rgba(0, 0, 0, 0.25);

%background_color {
  background-color: $color_grey;
}

//todo не работает бэкграунд с изображением.
%background_dots {
  background-image: url('/public/BackgroundWorkInfo.jpg');
  background-size: 1500px 1500px;
  text-align: center;
}

@mixin h($font_size, $text_align, $font-weight, $line_height, $color, $text_shadow) {
  font-size: $font_size;
  text-align: $text_align;
  font-weight: $font-weight;
  line-height: $line_height;
  color: $color;
  text-shadow: $text_shadow;
}

h1 {
  @include h(95px, left, bold, 176px, $color_white, 0 4px 4px $color_shadow);
}

h2 {
  @include h(48px, center, bold, 89px, $color_turquoise, none);
}

h3 {
  @include h(48px, center, bold, 89px, $color_orange, none);
}

h4 {
  @include h(48px, center, bold, 89px, $color_turquoise, none);
  margin: 0 0;
}

h5 {
  @include h(36px, center, bold, 89px, $color_turquoise, none);
  margin: 0 0;
}

@mixin div_body($background_color,$align-items,$padding,$box-shadow) {
  background-color: $background_color;
  align-items: $align-items;
  padding: $padding;
  box-shadow: $box-shadow;
}

%div_body_gray_with_shadow {
  @include div_body($color_grey, center, 0, 0 4px 4px $color_shadow);
}

%div_body_gray {
  @include div_body($color_grey, center, 0, none);
}

%div_body_white_with_shadow {
  @include div_body($color_white, none, 0 210px 0 192px, 0 4px 4px $color_shadow);
}

%div_body_white {
  @include div_body($color_white, none, 0 210px 0 192px, none);
  text-align: center;
}

@mixin text($font_style,$font_weight,$font_size,$line_height,$text_align,$color,$text_derocation_line) {
  font-style: $font_style;
  font-weight: $font_weight;
  font-size: $font_size;
  line-height: $line_height;
  text-align: $text_align;
  color: $color;
  text-decoration-line: $text_derocation_line;
}

%main_text {
  @include text(normal, normal, 16px, 30px, justify, $color_dark, none);
}

%secondary_text {
  @include text(normal, normal, 14px, 26px, justify, $color_dark, none);
}

%link_text {
  @include text(normal, normal, 14px, 26px, justify, $color_turquoise, underline);
}
