.LastProjects {
    z-index: 1;
    grid-area: lpr;
    background-image: url('BackgroundWorkInfo.jpg');
    background-size: 1500px 1500px;
    text-align: center;
    display: grid;
    grid-template-areas: 't t t t t' 'pr pr pr pr pr' 'oc oc oc oc oc';
    grid-template-columns: 275px 1fr 1fr 1fr 291px;
    grid-template-rows: 250px 545px 150px ;
}

.title {
    grid-area: t;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 89px;
    color: #FAA61A;
    padding-top: 80px;
}

.orangeCrap {
    grid-area: oc;
    background: #FAA61A;
}