@import '../../../styles';

.Employee {
  text-align: center;
  img {
    border-radius: 6.5em;
  }
  input {
    margin: 2em 0;
  }
}

@media (max-width: 1920px) {
  .Employee {
    img {
      height: 14em;
    }
  }
}

@media (max-width: 1680px) {
  .Employee {
    img {
      height: 12em;
    }
  }
}

@media (max-width: 1440px) {
  .Employee {
    img {
      height: 10em;
    }
  }
}

@media (max-width: 1024px) {
  .Employee {
    img {
      height: 6em;
    }
  }
}
