.Employee a{
    grid-area: emp;
    display:grid;
    grid-template-areas: 'img' 't';
    grid-template-columns: 1fr;
    grid-template-rows: 220px 80px;
}
.Employee img{
    grid-area: img;
    height: 220px;
    border-radius: 105px;
}

.title{
    grid-area: t;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 89px;
    color: #00B49B;
 }
