@import "../../../styles.scss";

.Team{
    grid-area: tm;
    display: grid;
    grid-template-areas: 't t t' 'emp emp emp' 'art art art';
    grid-template-columns: 1fr 1fr 1fr;
    @extend %div_body_white;
    text-decoration: none;
    .title {
        grid-area: t;
    }
    .NavLink{
        text-decoration: none;
    }
}

@media (max-width: 1920px) {
    .Team {
        grid-template-rows: 7.5em 15em 18.5em;
    }
}

@media (max-width: 1680px) {
    .Team {
        grid-template-rows: 5.6em 15.5em;
    }
}

@media (max-width: 1440px) {
    .Team {
        grid-template-rows: 5em 11em;
    }
}

@media (max-width: 1024px) {
    .Team {
        grid-template-rows: 4em 4em;
    }
}
