@import '../../../styles';

.employeeInfo {
  z-index: 2;
  position: relative;
  @extend %div_body_white_with_shadow;
  display: grid;
  grid-template-areas: 'emp aboutEmp lastActivity';
  grid-template-columns: 2fr 3fr 4fr;
  grid-template-rows: 1fr;
  text-align: left;
  align-items: center;
}

.employee {
  grid-area: emp;
}

.aboutEmployee {
  grid-area: aboutEmp;
}

.lastActivity {
  grid-area: lastActivity;
}