@import '../../../styles';

.articlesInfo {
  display: grid;
  grid-template-areas: 't t' 'a a';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr;
  padding: 0 13em 0 12em;
  @extend %background_dots;

}

.title {
  grid-area: t;
}
