@import "../../../style.scss";

.JustTryButton {
    @extend %div_body_white;
    padding-top: 50px;
    height: 250px;
}

.JustTryButton button{
    margin-top: 15px;
    background-color: #37B34A;
    color: white;
    height: 35px;
    width: 250px;
}
