@import "../../../styles.scss";

.LastProjects {
  z-index: 1;
  @extend %background_dots;
  display: grid;
  grid-template-areas: 't t t' 'pr pr pr' 'oc oc oc';
  .orangeCrap {
    grid-area: oc;
    background-color: $color_orange;
  }
  .title {
    grid-area: t;
  }
}

@media (max-width: 1920px) {
  .LastProjects {
    grid-template-rows: 16em 34em 8em;
  }
}

@media (max-width: 1680px) {
  .LastProjects {
    grid-template-rows: 14em 31em 8em;
  }
}

@media (max-width: 1440px) {
  .LastProjects {
    grid-template-rows: 11em 28em 6em;
  }
}

@media (max-width: 1024px) {
  .LastProjects {
    grid-template-rows: 5em 13.5em 3.5em;
  }
}
