@import "../../../styles.scss";

.LastProjects {
  z-index: 1;
  @extend %background_dots;
  display: grid;
  grid-template-areas: 't t t' 'pr pr pr' 'oc oc oc';
  .orangeCrap {
    grid-area: oc;
    background-color: $color_orange;
  }
  .title {
    grid-area: t;
  }
}

@media (max-width: 1920px) {
  .LastProjects {
    grid-template-rows: 250px 545px 150px;
  }
}

@media (max-width: 1680px) {
  .LastProjects {
    grid-template-rows: 220px 500px 125px;
  }
}

@media (max-width: 1440px) {
  .LastProjects {
    grid-template-rows: 170px 450px 100px;
  }
}

@media (max-width: 1024px) {
  .LastProjects {
    grid-template-rows: 70px 190px 50px;
  }
}

@media (max-width: 768px) {
  .LastProjects {
    grid-template-rows: 80px 190px 60px;
  }
}