@import "../../../styles.scss";

.CompanyName {
  display: grid;
  grid-area: cn;
  z-index: 3;
  @extend %div_body_gray_with_shadow;
  grid-template-areas: 'cn cn';
  grid-template-columns: 35vw auto;
  grid-template-rows: 1fr;
  img {
    padding-left: 15vw;
    float: right;
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

@media (max-width: 1920px) {
  .CompanyName {
    img {
      width: 18em;
    }
  }
}

@media (max-width: 1680px) {
  .CompanyName {
    img {
      width: 16em;
    }
  }
}

@media (max-width: 1440px) {
  .CompanyName {
    img {
      width: 12em;
    }
  }
}

@media (max-width: 1024px) {
  .CompanyName {
    img {
      width: 9em;
    }
  }
}
