@import '../../../style';

.employeeInfo{
  @extend %div_body_white_with_shadow;
  display: grid;
  grid-template-areas: 'emp ae la';
  grid-template-columns: 2fr 3fr 4fr;
  grid-template-rows: 1fr;
  text-align: left;
  align-items: center;

}

.employee{
  grid-area:emp;

}

.aboutEmployee{
  grid-area: ae;

}

.lastActivity{
  grid-area: la;
}
